* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 1440px;
}

.banner {
    width: 1440px;
    height: 346px;
    background-color: #FEE667;

}

.logo {
    margin-top: 30px;
    margin-left: 141px;
}

.lego {
    float: right;
    padding-top: 80px;
    padding-right: 114px;
}

.banner p {
    color: #2590DD;

    font-size: 32px;
    font-weight: bold;
}

p span {
    font-size: 60px;
}

.text {
    margin-top: 40px;
    padding-left: 136px;
}

.text2 {
    width: 500px;
    margin-top: 14px;
    padding-left: 136px;
}

header ul li {
    text-decoration: none;
    display: inline-block;
    margin-left: 15px;
    font-size: 24px;
}

header ul {
    padding-top: 29px;
    margin-left: 200px;
}

header {
    width: 1440px;
    height: 87px;
    background-color: #FFCA10;

}

.mask {
    width: 1191px;
    height: 193px;
    margin-left: 128px;
    border: 1px solid #ACAAAA;
    padding: 20px;
    margin-top: 31px;
}

.mask h4 {
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: normal;
}

.mask p {
    margin-bottom: 20px;
    font-size: 18px;
}

.mask p span {
    font-size: 18px;
    color: #1A01B7;
}

footer {
    width: 1440px;
    height: 74px;
    background-color: #FFCA10;
    margin-top: 31px;
}

footer p {
    padding-left: 500px;
    font-size: 18px;
    padding-top: 24px;
}

.blocki {
    display: flex;
    justify-content: center;
    width: 1191px;
    margin-left: 128px;
}

.block {
    width: 265px;
    height: 417px;
    border-radius: 5px;
    background: #F1F1F1;
    margin: 44px;

}

h1 {
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    padding: 38px 0 18px 128px;
}

.block img {
    width: 229px;
    height: 230px;
    padding: 12px 18px 0 18px;
}

.block p {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.sell {
    color: #000;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 77px;
    height: 30px;
}


form {
    padding-top: 38px;
}

form caption {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

form input ::placeholder {

    color: #ACAAAA;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

form input {
    width: 432px;
    height: 48px;
    flex-shrink: 0;
}

form textarea {
    width: 883px;
    height: 196px;
    flex-shrink: 0;
}

form button {
    width: 179px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFCA10;

    color: #000;

    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}